// colors
$clr-green: #45ac43;
$clr-red: #ED1B24;
$clr-white: #fff;
$clr-black: #000;
$clr-dark-grey: #393939;
$clr-light-grey: #F7F9FD;

// font
$fnt-base: 'Lato', sans-serif;
// $font-base-size: 16px!default;

// misc
$image-path: '../assets/images/';
